<h1>About Us</h1>
<p>We are working on our One Month Rails Pinteresting app</p>

<ul class="list-group">
  <li class="list-group-item">One</li>
  <li class="list-group-item">Two</li>
  <li class="list-group-item">Three</li>
  <li class="list-group-item">Four</li>
  <li class="list-group-item">Five</li>
</ul>